<html>
<head>
	<title>Negative Binomial Parameter Setting</title>
</head>
<body>
	<h1>Negative Binomial Parameter Setting</h1>
	<form action="set-parameter" method="get">
	
	<h3>Select crime type</h3>
	<p>List of crime types: ['ARSON', 'ASSAULT', 'BATTERY', 'BURGLARY', 'CRIM SEXUAL ASSAULT', 
    'CRIMINAL DAMAGE', 'CRIMINAL TRESPASS', 'DECEPTIVE PRACTICE', 
    'GAMBLING', 'HOMICIDE', 'INTERFERENCE WITH PUBLIC OFFICER', 
    'INTIMIDATION', 'KIDNAPPING', 'LIQUOR LAW VIOLATION', 'MOTOR VEHICLE THEFT', 
    'NARCOTICS', 'OBSCENITY', 'OFFENSE INVOLVING CHILDREN', 'OTHER NARCOTIC VIOLATION',
    'OTHER OFFENSE', 'PROSTITUTION', 'PUBLIC INDECENCY', 'PUBLIC PEACE VIOLATION',
    'ROBBERY', 'SEX OFFENSE', 'STALKING', 'THEFT', 'WEAPONS VIOLATION', 'total']</p>
	<p>Use violent crime count: <input type=radio name='crimeT' value=violent>
	Includes homicide, assault, battery, sexual assault, domestic violence, robbery</p>
	<p>Use all crimes count: <input type=radio name='crimeT' value=total></p>
	
	<h3>Select flow type</h3>
	<select name=flowT>
		<option value=0>total jobs</option>
		<option value=1>jobs age under 29</option>
		<option value=2>jobs age from 30 to 54</option>
		<option value=3>jobs above 55</option>
		<option value=4>jobs earning under $1250/month</option>
		<option value=5>jobs earnings from $1251 to $3333/month</option>
		<option value=6>jobs above $3333/month</option>
		<option value=7>jobs in goods producing</option>
		<option value=8>jobs in trade transportation</option>
		<option value=9>jobs in other services</option>
	</select>
	
	<h3>Select year for the crime count</h3>
	<p>Select one single year from 2003 to 2013.</p>
	Year of Chicago crime: <input type=text name=year><br>
	<h3>Select features for the Negative Binomial model</h3>
	<table border=3>
	<tr>
		<th>Features</th>
		<th>Original form</th>
		<th>Take log form</th>
		<th>Leave out</th>
	</tr>
	<tr>
		<td>Population</td>
		<td><input type='radio' name='total population' value='asis'/></td>
		<td><input type=radio name='total population' value=log /></td>
		<td><input type=radio name='total population' value=none /></td>
	</tr>
	<tr>
		<td>Population density</td>
		<td><input type=radio name='population density' value=asis /></td>
		<td><input type=radio name='population density' value=log /></td>
		<td><input type=radio name='population density' value=none /></td>
	</tr>
	<tr>
		<td>Poverty index</td>
		<td><input type=radio name='poverty index' value=asis /></td>
		<td><input type=radio name='poverty index' value=log /></td>
		<td><input type=radio name='poverty index' value=none /></td>
	</tr>
	<tr>
		<td>Disadvantage index</td>
		<td><input type=radio name='disadvantage index' value=asis /></td>
		<td><input type=radio name='disadvantage index' value=log /></td>
		<td><input type=radio name='disadvantage index' value=none /></td>
	</tr>
	<tr>
		<td>Residential stability</td>
		<td><input type=radio name='residential stability' value=asis /></td>
		<td><input type=radio name='residential stability' value=log /></td>
		<td><input type=radio name='residential stability' value=none /></td>
	</tr>
	<tr>
		<td>Ethnic diversity</td>
		<td><input type=radio name='ethnic diversity' value=asis /></td>
		<td><input type=radio name='ethnic diversity' value=log /></td>
		<td><input type=radio name='ethnic diversity' value=none /></td>
	</tr>
	<tr>
		<td>Percentage Black</td>
		<td><input type=radio name='pct black' value=asis /></td>
		<td><input type=radio name='pct black' value=log /></td>
		<td><input type=radio name='pct black' value=none /></td>
	</tr>
	<tr>
		<td>Percentage Hispanic</td>
		<td><input type=radio name='pct hispanic' value=asis /></td>
		<td><input type=radio name='pct hispanic' value=log /></td>
		<td><input type=radio name='pct hispanic' value=none /></td>
	</tr>
	<tr>
		<td>Temporal lag</td>
		<td><input type=radio name=temporallag value=asis /></td>
		<td><input type=radio name=temporallag value=log /></td>
		<td><input type=radio name=temporallag value=none /></td>
	</tr>
	<tr>
		<td>Social lag</td>
		<td><input type=radio name=sociallag value=asis /></td>
		<td><input type=radio name=sociallag value=log /></td>
		<td><input type=radio name=sociallag value=none /></td>
	</tr>
	<tr>
		<td>Spatial lag</td>
		<td><input type=radio name=spatiallag value=asis /></td>
		<td><input type=radio name=spatiallag value=log /></td>
		<td><input type=radio name=spatiallag value=none /></td>
	</tr>
	</table><br>
	<h3>Set number of permutation to calculate coefficient significance</h3>
	<p>We use random permutation test to calculate the significance of coefficients. Namely, we permute the features n times, and for each permutation, we train a new Negative Binomial model and get the coefficients. With the n permutations, we get the distribution of coefficients, from which the significance of true coefficient can be calculated.</p>
	Number of permutation:<input type=text name=iters><br>
	<button type=submit>Submit</button>
	</form>

	<h3><font color=red>Warning: running with 1000 iterations is slow!</font></h3>
	<p>It may take up 20 minutes to run 1000 iterations to get the p-value. However, if running only 10 iterations, the results are expected in a few seconds.</p>


	<h1>Previous evaluations are available <a href=history>here</a></h1>

	<footer>
		<p>Built by: Hongjian</p>
		<p>Contact information: hxw186@ist.psu.edu</p>
	</footer>
</body>
</html>
